<div id="<%= dom_id flight %>">
  <p>
    <strong>Cdeparture airport:</strong>
    <%= flight.CDeparture_airport %>
  </p>

  <p>
    <strong>Arrival airport:</strong>
    <%= flight.Arrival_airport %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= flight.DateTime %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.Duration %>
  </p>

</div>
