<%= form_with(model: flight) do |form| %>
  <% if flight.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
        <% flight.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :CDeparture_airport, style: "display: block" %>
    <%= form.text_field :CDeparture_airport %>
  </div>

  <div>
    <%= form.label :Arrival_airport, style: "display: block" %>
    <%= form.text_field :Arrival_airport %>
  </div>

  <div>
    <%= form.label :DateTime, style: "display: block" %>
    <%= form.datetime_field :DateTime %>
  </div>

  <div>
    <%= form.label :Duration, style: "display: block" %>
    <%= form.number_field :Duration %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
